@model ClassLibrary.Models.CricketersModels

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CricketersModels</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cricketersId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cricketersId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalMatchs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalMatchs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalRun)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalRun)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { cricketersId = Model.cricketersId }) |
    <a asp-action="list">Back to List</a>
</div>
